/*General adjusting of the page/project*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Setting the flex container with the right container (Login , Not user and Get app) , and image container */



.flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;

}

.right-container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 90%;
}

.image-container {

    display: flex;
    width: 50%;
    height: 100%;
}


/* Adjusting sizes of the image */

.imagem-celular {
    height: 50rem;
}


/*Working on The sub containers - Login container - setting the instagram logo, profiel picture with border radious and elaborate on the
Continue button alongside with the remove account option */

.Login-container {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border: 1px solid lightgrey;
    background-color: #ffffff;

    margin: 10px;
    padding: 15px;

}

.foto-perfil {
    max-width: 200px;
    max-height: 150px;
    border-radius: 50%;
}

.login-botao {
    font-size: 15px;
    font-weight: bold;

    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}


/* setting this classes to color the letters of the instagram model. blue and grey */

.azul-instagram {
    font-size: 15px;
    color: #0095f6;
    font-weight: bold;
}

.cinza-instagram {
    font-size: 15px;
    font-weight: bold;
    color: rgb(160, 160, 160);
}



/* Setting the notSub-container to fit in column both phrases that were supposed to be inside it */

.notSub-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid lightgrey;
    background-color: #ffffff;
    margin: 10px;
}

/*In the final part of the project, adjusting the Get app container, that will be having 2 inside containers, 1 for the text and 1 for both images. The main container will be put in column direction to allow one element be above the other and the second container, row (default) 
direction to put both iamges side by side. */

.getApp-Container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    margin: 10px;
}

.getApp-texto {
    font-size: 20px;
    color: black;
    font-weight: bold;
}


.download-container {
    display: flex;
    justify-content: center;
}

.getAppImg {
    width: 200px;
}



/* media queries */


@media (max-width: 1070px) {
    .flex-container {
        width: 90%;
    }

    .image-container {
        display: none;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .flex-container {
        width: 90%;
    }


    .right-container {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }

    .download-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}